# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Fatec\5 Semestre\IBD - Laboratório de Banco de Dados\FZL_Laboratorio-de-Banco-de-Dados\Exercicios\aula_21-09-20\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
