# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Victor\OneDrive - Fatec Centro Paula Souza\Fatec\5 Semestre\IBD - Laboratório de Banco de Dados\FZL_Laboratorio-de-Banco-de-Dados\Exercicios\carnaval\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
