<head th:fragment="head(titulo)">
<meta charset="utf-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link
	href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
	rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>




<div th:fragment="jumbotron(titulo, descricao)" class="jumbotron">
	<h1 class="display-4" th:text="${titulo}"></h1>
	<p class="lead" th:text=${descricao}></p>
	<a th:if="${titulo} != 'Provas disponíveis!'" class="btn btn-primary btn-lg" th:href="@{/}" role="button">Voltar para provas</a>
</div>