<html>
<head th:replace="~{import/base :: head(${prova.nome})}">
</head>
<body>
	<div class="container">
		<div
			th:replace="~{import/base :: jumbotron(${prova.nome}, 
				'Selecione uma fase para conferir o ranking.'
				)}">
		</div>
		<div th:replace="~{import/base :: record(${prova.recordM}, ${prova.recordE})}">
		</div>
		
		<div id="app" class="mt-4">
			<ranking-prova th:idprova="${prova.provaId.id}"
				th:recordmun="${prova.recordM}" th:recordeve="${prova.recordE}" th:tipo="${prova.tipo}">
			</ranking-prova>
		</div>
	</div>


	<script type="text/javascript">
	const http = axios.create({
		baseURL: 'http://127.0.0.1:8080/api/'
	})
	
	Vue.component('ranking-prova', {
		props: ['idprova', 'tipo', 'recordeve', 'recordmun'],
		data: function(){
			return {
				rankingInicial: [],
				rankingFinal: [],
				rankingAtual: [],
				rankingIndex: 1,
				total: 0,
				tipoProva: ''
			}
		},
		template: `
			<div>
				<div v-if="total == 0" class="alert alert-danger" role="alert">
				Nenhum atleta realizou a fase inicial, portanto não é possível consultar o ranking.
				</div>
				<div v-else>
					<div class="form-group row">
						<label for="faseSelect" class="col-2 d-flex align-items-center justify-content-center">
							<span>Fase da prova</span>
						</label>
						<div class="col-8">
							<select @change="changeRanking($event)" class="form-control" id="faseSelect" name="faseSelect">
								<option v-for="i in total" :value="i">{{i}} -
									<p v-if="i === 1">Inicial</p>
									<p v-else>Final</p>
								</option>
							</select>
						</div>
						<div class="col-2 d-flex">
							<button @click="setRanking()" class="btn btn-primary flex-grow-1">Buscar</button>
						</div>
					</div>
					<table class="table table-dark">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Prova</th>
								<th scope="col">Nome</th>
								<th scope="col">Score</th>
								<th scope="col">País</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(ranking, index) in rankingAtual" :style="getStyle(ranking.score)">
								<td>{{index + 1}}</td>
								<td>{{ranking.prova}}</td>
								<td>{{ranking.nomeAtleta}}</td>
								<td>{{getScore(ranking.score)}}</td>
								<td>{{ranking.pais}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		`,
		methods: {
			getRankings() {
				http.get('ranking/'+this.idprova+'/'+false)
				.then(response => {
					this.rankingInicial = response.data
					if (this.tipoProva == 'C') {
						this.rankingInicial.sort((a, b) => b.score + a.score)
					}else {
						this.rankingInicial.sort((a, b) => b.score - a.score)
					}
 					this.total += (response.data.length === 0) ? 0 : 1
				})
				
				http.get('ranking/'+this.idprova+'/'+true)
				.then(response => {
					this.rankingFinal = response.data
					if (this.tipoProva == 'C') {
						this.rankingInicial.sort((a, b) => b.score + a.score)
					}else {
						this.rankingInicial.sort((a, b) => b.score - a.score)
					}
					this.total += (response.data.length === 0) ? 0 : 1
				})
			},
			setRanking() {
				if (this.rankingIndex == 1) {
					this.rankingAtual = this.rankingInicial
					
				}else if (this.rankingIndex == 2) {
					this.rankingAtual = this.rankingFinal
				}
			},
			changeRanking(event) {
				this.rankingIndex = event.target.value
			},
			getStyle(score) {
				if (this.tipoProva == 'C') {
					if (score < this.recordmun) {
						return {	
							'background-color' : 'darkcyan'
						}	
					}else if (score < this.recordeve) {
						return {	
							'background-color' : 'dodgerblue'
						}
					}	
				}else {
					if (score > this.recordmun) {
						return {	
							'background-color' : 'darkcyan'
						}	
					}else if (score > this.recordeve) {
						return {	
							'background-color' : 'dodgerblue'
						}
					}
				}
				
			},
			getScore(score) {
				console.log(this.tipoProva)
				if (this.tipoProva === 'C') {
					newScore = score.substring(0,2) + ':' + score.substring(2,4) + ':' + score.substring(4,6) + ':' + score.substring(6,8) 
					return newScore
				} else if (this.tipoProva === 'D'){
					return score + 'm'
				}
			}
		},
		mounted() {
			this.getRankings()
		},
		created(){
			this.tipoProva = this.tipo == 'true' ? 'C' : 'D'
		}
	})
	
	var app = new Vue({
		el: '#app'
	})	
	</script>
</body>
</html>